@import url(/css/header.css);

main {
    .container {
        margin-bottom: 6rem;
        // Heading 1
        .heading {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            h1 {
                display: inline-block;
                font-family: 'Montserrat', sans-serif;
                font-size: 48px;
                letter-spacing: -1px;
                box-shadow: inset 0 -0.45em 0 #fcefcf;
                margin-bottom: 2rem;
            }

            p {
                font-size: 18px;
                text-align: justify;
                line-height: 1.6rem;
                width: 80%;
                
                em {
                    width: 40rem;
                    
                    
                }
            }

        }

        // Heading 2
        .heading-2 {
            display: flex;
            justify-content: center;
            h1 {
                display: inline-block;
                font-family: 'Montserrat', sans-serif;
                font-size: 34px;
                letter-spacing: -1px;
                box-shadow: inset 0 -0.45em 0 #fcefcf;
                margin-bottom: 2rem;
            }
        }

        // Photo Container
        .photo-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            .box {
                position: relative;
                width: 31.5%;
                min-height: 300px;

                img {
                    width: 100%
                }

                span {
                    position: absolute;
                    bottom: 15px;
                    left: 15px;
                    background-color: white;
                    padding: 13px 15px;
                }
            }
        }

        // Heading 3
        .heading-3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                display: inline-block;
                font-family: 'Montserrat', sans-serif;
                font-size: 34px;
                letter-spacing: -1px;
                box-shadow: inset 0 -0.45em 0 #fcefcf;
                margin-bottom: 2rem;
            }
            .text {
                margin-bottom: 1rem;
                display: flex;
                justify-content: center;
                p {
                    width: 80%;
                    font-size: 18px;
                }
            }
            .quote {
            
                background-color: #F7F7F7;
                width: 80%;
                padding: 36px;
                margin-bottom: 2rem;
                border-left: 5px solid #EEEEEE;
    
                
                strong {
                    font-size: 18px;
                }
                
                
            }
        }

        // Last section
        .button {
            
            height: 10rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            a {
                text-decoration: none;
                color: white;
                background-color: black;
                padding: 10px 25px;
                border-radius: 4px;
                outline: none;
            }
        }
    }
}

@import url(/css/footer.css);

@media (max-width:768px) {
    .container {
        .photo-container {
            flex-direction: column;
            .box {
                width: 100% !important;
            }
        }
    }
}