footer .container-fluid {
  padding: 0;
}

footer .container-fluid .gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .container-fluid .gallery .box {
  width: calc(100%/6);
}

footer .container-fluid .gallery .box a img {
  width: 100%;
}

footer .my-container {
  background-color: #F7F7F7;
  min-height: 20rem;
}

footer .my-container .container {
  padding-top: 5rem;
}

footer .my-container .container .row .col-md-3 {
  text-align: center;
  margin-bottom: 36px;
}

footer .my-container .container .row .col-md-3 h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 16px;
}

footer .my-container .container .row .col-md-3 p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 2rem;
  margin-bottom: 18px;
}

footer .my-container .container .row .col-md-3 ul {
  list-style: none;
  padding: 0;
}

footer .my-container .container .row .col-md-3 ul a {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: black;
}

footer .my-container .container .row .col-md-3 form input {
  margin-bottom: 18px;
  width: 15rem;
  padding: 13px;
  outline: none;
  border: 1px solid #EEEEEE;
}

footer .my-container .container .row .col-md-3 form button {
  background-color: black;
  color: white;
  padding: 14px 27px;
  border: none;
  border-radius: 4px;
}

footer .my-container .container .row .col-md-3 form button:hover {
  background-color: #2980B9;
}

footer .my-container .container .row .col-md-3:nth-child(3) a {
  color: black;
}

footer .my-container .my-container-2 {
  padding: 10px;
}

footer .my-container .my-container-2 .right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 480px) {
  footer .container-fluid .gallery .box {
    width: calc(100%/3);
  }
}

@media (max-width: 991px) {
  footer .my-container .my-container-2 .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  footer .my-container .my-container-2 .row .right-col {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .my-container .my-container-2 .row .right-col .payment img {
    width: 100%;
  }
  footer .my-container .my-container-2 .row .left-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=footer.css.map */